.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
}

.bottone {
    background: linear-gradient(45deg, #8d8f91, #272626);
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
  
.bottone:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
  
.bottone:active {
    transform: scale(0.97);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.bottone:focus {
    outline: none;
    user-select: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
  
.login-box {
    background: rgba(255, 255, 255, 0.8); /* Box trasparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input {
    border-radius: 10px;
    border-style: none;
    height: 25px;
}

input:focus {
    outline: black;
}

label {
    font-size: 20px;
}

body {
    background-color: #121212;
    overflow: hidden;
}
  
.sfondo {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
  
.pallino {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 80%);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
}  

@keyframes movimento {
    0% { transform: translate(0, 0); }
    25% { transform: translate(100px, 50px); }
    50% { transform: translate(-100px, -50px); }
    75% { transform: translate(50px, -100px); }
    100% { transform: translate(0, 0); }
}

p {
    color: white;
}